.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#gameResult{
  background-color: rgb(206, 166, 206)
}

#teamName{
  color: black;
  font-weight: bold;
  font-size:20px;
}

.gameStats{
  /* background-color:rgba(151, 91, 151, 0.699) */
  background-color:rgba(255, 255, 255, 0.541);
}

#hiddenDiv{
  display:none;
}

#gameweekSelectionDiv{
  display: flex;
  justify-content: space-between;
}

#homeAway{
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 80px 40px; */
}

#statTitle{
  background-color:purple;
  color:white;
  font-weight:bold;
  font-size:14px;
}

#fixtureDisplay{
  width: 80%;
  margin: auto;
  border: 2px solid #00000028;
}

#statDisplay{
  background-color:rgba(151, 91, 151, 0.699);
  width: 80%;
  margin: auto;
}

#imagePlayersData{
  width:30px;
  height:30px;
  mix-blend-mode: multiply;
  background-image:none;
}

#freeze{
  /* position:fixed; */
  background: white;
  position: sticky;
  top: 0;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

#headerPlayer{
  background-color:rgb(218, 207, 218);
  font-weight: bold;
}
